%gilroy300{
    font-family: "Gilroy";
    font-weight: 300;
}
%gilroy400{
    font-family: "Gilroy";
    font-weight: 400;
}
%gilroy500{
    font-family: "Gilroy";
    font-weight: 500;
}
%gilroy600{
    font-family: "Gilroy";
    font-weight: 600;
}
%gilroy700{
    font-family: "Gilroy";
    font-weight: 700;
}